body {
  background-color: black; }

nav a {
  text-decoration: none;
  color: white; }

nav a:hover {
  color: rgba(255, 255, 255, 0.836);
  font-style: white;
  font-weight: bold; }

.glass {
  color: white;
  background: white;
  background: linear-gradient(to right bottom, rgba(65, 62, 62, 0.178), rgba(141, 137, 137, 0.24)); }

footer a {
  color: rgba(255, 255, 255, 0.548);
  font-size: 26px;
  padding: 0 8px; }

footer a:hover {
  color: rgba(255, 255, 255, 0.836);
  font-style: white; }

.glassFooter {
  color: white;
  background: white;
  background: linear-gradient(to right bottom, rgba(51, 50, 50, 0.075), rgba(141, 137, 137, 0.068)); }

.videoGaleria {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.galeria img {
  width: 100%; }

.col-lg-6 {
  padding: 25px; }

.galeria img:hover {
  border: 5px solid rgba(221, 175, 235, 0.322); }

/*Font Family*/
* {
  font-family: 'Montserrat', sans-serif; }

h1 {
  padding: 15px;
  text-align: center;
  color: rgba(240, 248, 255, 0.877);
  font-size: 24px; }

.bio {
  color: aliceblue;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  width: 70%; }

.cita {
  color: #ce70e6; }

.estacion {
  color: #ce70e6;
  margin-bottom: 40px; }

.form-control {
  background-color: rgba(234, 226, 241, 0.911); }

.carousel-inner {
  margin: 20px 20px;
  width: 600px;
  height: 600px; }

.carousel {
  display: flex;
  justify-content: center; }

.styleNewVideo {
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  padding: 50px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.card-body {
  background-color: rgba(162, 121, 182, 0.158); }

.videoPpal {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px; }
