@import "body";
@import "nav";
@import "footer";
@import "iframe";
@import "galeria";
/*Font Family*/
*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    padding: 15px;
    text-align: center;
    color: rgba(240, 248, 255, 0.877);
    font-size: 24px;    
    }

    .bio{
        color: aliceblue;
        font-size: 16px;
        letter-spacing: 2px;
        word-spacing: 2px;
        width: 70%;
    }
    
    .cita{
        color: rgb(206, 112, 230);
    }
    
    .estacion{
        color: rgb(206, 112, 230);
        margin-bottom: 40px;
    }
    
    .form-control{
        background-color: rgba(234, 226, 241, 0.911);
    }
    
    .carousel-inner{
        margin: 20px 20px;
        width: 600px;
        height: 600px;
    
    }
    .carousel{
        display: flex;
        justify-content: center;
    }

    .styleNewVideo{
        text-align: center;
        letter-spacing: 5px;
        font-size: 25px;
        padding: 50px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
    }

.card-body{
    background-color: rgba(162, 121, 182, 0.158);
}

.videoPpal{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}



